<!-- templates/playlists_index.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Playlists</h1>

<div class="row">
    {% for playlist in playlists %}
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">playlist {{ loop.index }}</h5>
                <p class="card-text">{{ playlist.description }}</p>
                <h2><a href = '/playlists/{{ playlist._id}}'>{{ playlist.title }}</a></h2>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
